name: Build & Deploy to Azure Container Apps

on:
    workflow_dispatch:

permissions:
    id-token: write
    contents: read

jobs:
    # login:
      build:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Login to Azure
          uses: azure/login@v2
          with:
            client-id: ${{ secrets.AZURE_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_TENANT_ID }}  
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

        # - name: Azure CLI script
        #   uses: azure/cli@v2
        #   with:
        #     azcliversion: latest
        #     inlineScript: |
        #         az account show

        - name: Login to ACR
          run: |
              az acr login --name ${{ secrets.ACR_SERVER }}

        - name: Build and Push Docker image to registory
          run: |
              az acr build
                --registry ${{ secrets.ACR_SERVER }} 
                --image ${{ secrets.ACR_REPOSITORY }}:${{ github.sha }}
                ./app 